/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Enriqueta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

/* color theme */

:root {
  --theme_color_1: #142A3D;
  --theme_color_2: #FFFFFF;
  --theme_color_3: #E6FFFF;
  --theme_color_4: #818B95;
}

/* tag selectors */

body {
  background-color: var(--theme_color_3);
  background-image: url(bg.svg);
  background-position-y: -100px;
  background-repeat: repeat-x;
  background-size: 2500px;
  color: var(--theme_color_1);
  font-family: 'Enriqueta', serif;
  margin: 1em;
  padding-top: 1em;
}

a {
  color: inherit;
}

header {
  max-width: 1000px;
  margin: auto;
}

header code {
  font-size: 0.8em;
}

h1 {
  background-color: var(--theme_color_3);
  font-size: 2em;
  margin: 3em 0;
  padding: 1em 0.8em;
}

p {
  line-height: 1.5em;
}

p:first-of-type {
  margin-top: 0;
}

code, pre {
  font-family: 'Source Code Pro', monospace;
}

footer {
  box-sizing: border-box;
  margin: auto;
  max-width: 1000px;
  opacity: 0.7;
  padding: 0 2em;
}

footer #credits {
  border-top: 1px solid var(--theme_color_1);
  font-size:0.9em;
  margin-bottom: 1.5em;
  margin-top: 3em;
  padding-top: 1em;
}

/* class, id, etc. selectors */

#sketches, #example {
  box-sizing: border-box;
  max-width: 1000px;
  margin: auto;
  padding: 0 2em;
}

#sketches {
  display: grid;
  grid-column-gap: 2em;
  grid-template-columns: 1;
}

#sketches ul {
  padding: 0;
  padding-right: 1em;
}

#sketches li {
  display: inline-block;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
}

#example .highlight {
  background-color: var(--theme_color_2);
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 0.85em;
  margin-top: 1em;
  padding: 0.1em 1em;
  width: 640px;
}

#example #content {
  box-sizing: border-box;
  float: left;
  padding-right: 2em;
  width: 640px;
}

#example p {
  padding-bottom: 1em;
}

#navheader h1 {
  padding-top: 0.5em;
}

#navheader .breadcrumb {
  font-size: 1rem;
}


/* media queries */

@media (min-width: 576px) {

  h1 {
    font-size: 2.5em;
  }
}

@media (min-width: 768px) {

  #sketches {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {

}
