* { outline: 1px solid lime }

@import url('https://fonts.googleapis.com/css2?family=Enriqueta&display=swap');

:root {
  --theme_color_1: red;
  --theme_color_2: yellow;
  --theme_color_3: blue;
}

body {
  background-color: var(--theme_color_2);
  font-family: 'Enriqueta', serif;
}

header {
  max-width: 1200px;
  margin: auto;
}

#thumbnails {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1200px;
  margin: auto;
}

#thumbnails .thumbnail {
  background-color: var(--theme_color_1);
  padding: 10px;
}

/* media queries */

@media (min-width: 576px) {

  #thumbnails {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) {

  #thumbnails {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 992px) {

  #thumbnails {
    grid-template-columns: repeat(5, 1fr);
  }
}
