{% extends 'html.html' %}

{% block title %}{{contents.title|title}}{% endblock %}

{% block content %}

<header>
  <code><em>
    # Python Mode versions of the examples on the <a href="https://processing.org/examples/">processing.org</a> website.
  </em></code>
  <h1>{{contents.title}}</h1>
</header>

<div id="example">

  <div id="____example"   style="width:70%; float:left; padding-right:2em; box-sizing:border-box">
    <p>{{contents.description}}</p>
    <script src="../p5.min.js"></script>
    <script src="target_sketch.js" type="module"></script>
    <div id="sketch-holder"><!-- sketch appears here --></div>
    
    <style>.highlight {width: 640px; box-sizing: border-box; margin-top:1em}</style>
    {{contents.code}}
  </div>
  
  <nav   style="width:30%; float:left; padding-left:1.2em; box-sizing:border-box">
    <h2    style="margin-top:0">Structure</h2>
    Statements and Comments<br />
    &raquo Coordinates<br />
    Width And height<br />
    Setup And Draw<br />
  </nav>

</div>

{% endblock %}
