<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content= "width=device-width, initial-scale=1.0" />
  <title>PYDE # {% block title %}{% endblock %}</title>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <link rel="stylesheet" href="/screen.css" />
  <link rel="stylesheet" href="/pygments_default_processing.py.css" />
  <!-- Matomo -->
  <script type="text/javascript">
  var _paq = window._paq = window._paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="https://matomo.tabreturn.com/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '5']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
</head>

<body>
{% block content %}{% endblock %}
</body>

</html>
