{% extends 'html.html' %}

{% block title %}Processing Python Resource Collection{% endblock %}

{% block content %}

<header>
  <h1>Examples. Short, prototypical programs exploring the basics of programming with Processing.py.</h1>
  <p>
    Python Mode versions of the examples on the <a href="https://processing.org/examples/">processing.org</a> website.
  </p>
</header>

<div id="thumbnails">
{% for data in metadata %}
  <a href="{{data.name}}/{{data.name}}.html">
    <div class="thumbnail">
      <img src="{{data.name}}/{{data.image}}" alt="{{data.title}}" width="100%" /> 
      {{data.category}}: 
      {{data.title|title}}
    </div>
  </a>
{% endfor %}
</div>

{% endblock %}
